/* is used for tooltips, overloaded by jQuery tipTip! */
.pdaf_tip
{
  width:16px;
  height: 16px;
  display:-moz-inline-block;
  display:inline-block;
  background-image: url("information.png");
}

.pdaf_tip_error
{
  width:16px;
  height: 16px;
  display:-moz-inline-block;
  display:inline-block;
  background-image: url("exclamation.png");
}
