<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2006-2014 phloc systems
    http://www.phloc.com
    office[at]phloc[dot]com

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

            http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>phloc-webdemoapp</display-name>
  <description>Demo application for phloc-stack</description>
  <context-param>
    <description>Where to store data.</description>
    <param-name>storagePath</param-name>
    <param-value>/var/www/webdemoapp/data</param-value>
  </context-param>
  <context-param>
    <description>Turn on only in production system.</description>
    <param-name>production</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <description>Enable global debugging. Turn off in production</description>
    <param-name>debug</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <description>Enable global tracing (more detailed than debug). Turn off in production system.</description>
    <param-name>trace</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>serverUrl</param-name>
    <param-value>http://localhost</param-value>
  </context-param>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <listener>
    <listener-class>com.phloc.webdemoapp.servlet.DemoAppWebAppListener</listener-class>
  </listener>
  
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>com.phloc.webbasics.servlet.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.phloc.webbasics.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout/*</url-pattern>
  </servlet-mapping>  
  
  <filter>
    <filter-name>DemoAppConfigLoginFilter</filter-name>
    <filter-class>com.phloc.webdemoapp.servlet.DemoAppConfigLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>DemoAppConfigLoginFilter</filter-name>
    <url-pattern>/config/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>DemoAppConfigLoginFilter</filter-name>
    <url-pattern>/configajax/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>DemoAppConfigLoginFilter</filter-name>
    <url-pattern>/configaction/*</url-pattern>
  </filter-mapping>
  
  <servlet>
    <servlet-name>DemoAppConfigApplicationServlet</servlet-name>
    <servlet-class>com.phloc.webdemoapp.servlet.DemoAppConfigApplicationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoAppConfigApplicationServlet</servlet-name>
    <url-pattern>/config/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>DemoAppViewApplicationServlet</servlet-name>
    <servlet-class>com.phloc.webdemoapp.servlet.DemoAppViewApplicationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoAppViewApplicationServlet</servlet-name>
    <url-pattern>/view/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>DemoAppConfigActionServlet</servlet-name>
    <servlet-class>com.phloc.webdemoapp.servlet.DemoAppConfigActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoAppConfigActionServlet</servlet-name>
    <url-pattern>/configaction/*</url-pattern>
  </servlet-mapping>  
  
  <servlet>
    <servlet-name>DemoAppViewActionServlet</servlet-name>
    <servlet-class>com.phloc.webdemoapp.servlet.DemoAppViewActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoAppViewActionServlet</servlet-name>
    <url-pattern>/viewaction/*</url-pattern>
  </servlet-mapping>  
  
  <servlet>
    <servlet-name>DemoAppConfigAjaxServlet</servlet-name>
    <servlet-class>com.phloc.webdemoapp.servlet.DemoAppConfigAjaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoAppConfigAjaxServlet</servlet-name>
    <url-pattern>/configajax/*</url-pattern>
  </servlet-mapping>  
  
  <servlet>
    <servlet-name>DemoAppViewAjaxServlet</servlet-name>
    <servlet-class>com.phloc.webdemoapp.servlet.DemoAppViewAjaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoAppViewAjaxServlet</servlet-name>
    <url-pattern>/viewajax/*</url-pattern>
  </servlet-mapping>  
  
  <servlet>
    <servlet-name>DemoAppStreamServlet</servlet-name>
    <servlet-class>com.phloc.webdemoapp.servlet.DemoAppStreamServlet</servlet-class>
    <init-param>
      <param-name>allowedExtensions</param-name>
      <param-value>js,css,png,jpg,jpeg,gif</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoAppStreamServlet</servlet-name>
    <url-pattern>/stream/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>DemoAppUserStreamServlet</servlet-name>
    <servlet-class>com.phloc.webdemoapp.servlet.DemoAppUserStreamServlet</servlet-class>
    <init-param>
      <param-name>allowedExtensions</param-name>
      <param-value>js,css,png,jpg,jpeg,gif</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoAppUserStreamServlet</servlet-name>
    <url-pattern>/user/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>DemoAppUserUploadServlet</servlet-name>
    <servlet-class>com.phloc.webdemoapp.servlet.DemoAppUserUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoAppUserUploadServlet</servlet-name>
    <url-pattern>/userUpload/*</url-pattern>
  </servlet-mapping>  
</web-app>
